* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;

}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-Primary-color);
    color: var(--text-primary-color);
}

section {
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-md);
}

main section .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}


main section .left .Upside {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bg-tertiary-color);
    margin-bottom: var(--margin-md);
    width: 60%;
    gap: var(--gutter-2xl);
    padding: var(--padding-md);
    border-radius: var(--radius-lg);
    object-fit: contain;
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    background-color: var(--bg-active-color);
    font-size: var(--font-md);
    border-radius: var(--radius-md);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--text-active-color);
}

.btn:hover {
    transition: 0.5s;
    color: var(--text-primary-color);
    background-color: red;
}

.btn0:hover {
    color: var(--text-primary-color);
    background-color: var(--bg-success-color);
}

.btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gutter-sm);
}

#Reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--bg-primary-color);
}

#Download-btn {
    background-color: var(--bg-success-color);
    color: var(--bg-primary-color);
}


main section .left .bottom {
    padding: var(--padding-2xl);
    background-color: var(--bg-secondary-color);
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: var(--radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .left .bottom .ImagePlaceHolder {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

main section .left .bottom .ImagePlaceHolder svg {
    height: 9rem;
    width: 9rem;
    opacity: 0.5;
}

main section .left .bottom .ImagePlaceHolder p {
    font-size: var(--font-2xl);
}

main section .right {
    width: 30%;
    padding: var(--padding-2xl);
    background-color: var(--bg-secondary-color);
    border-radius: var(--radius-lg);
}

main section .right .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    margin-top: 0.8rem;
    background-color: var(--bg-tertiary-color);
    padding: var(--padding-md);
    border-radius: var(--radius-md);
}

main section .right .filters .filter p {
    margin-top: var(--margin-sm);
}

main section .right .filters .filter input {
    appearance: none;
    outline: none;
    width: 90%;
}

main section .right .filters .filter input::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--bg-danger-color);
    border-radius: 100%;
    margin-top: -8.5px;
}

main section .right .filters .filter input::-webkit-slider-runnable-track {
    height: 3px;
    border-radius: 2px;
    background-color: var(--bg-active-color);

}

#canvas {
    max-height: 90%;
    max-width: 80vh;
    background-color: rgb(71, 71, 214);
    display: none;
}

.presets {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding-sm);
    gap: var(--gutter-md);
}

@media (max-width:1280px) {
    section {
        flex-direction: column;
        align-items: center;

    }

    main section .right {
        padding: 2px;
    }
    main section .right {
        display: flex;
        width: 100vw;
        gap: var(--gutter-md);
    }

    main section .left .Upside {
        width: 80vw;
    }

    .filters {
        min-width: 50vw;
        margin-top: var(--margin-sm);
    }

    .presets {
        width: 20vw;
    }

    .hpreset,
    .hfilter {
        text-align: center;
        font-size: 30px;
    }
    .bottom {
        height: 40vh;
        width: 100vw;
    }

    #canvas {
        max-height: 100%;
        max-width: 95vh;
    }
}

@media (max-width:500px) {
    section {
        padding: var(--padding-md);
        gap: var(--gutter-xl);
    }

    main section .right .filters {
        min-height: 40vh;
        width: 50vw;
        font-size: 10px;
        gap: 0;
        margin: 0;
    }

    main section .right .presets button {
        font-size: 10px;
        padding: 5px;
    }

    .hpreset,
    .hfilter {
        text-align: center;
        font-size: 20px;
    }

    main section .left .bottom {
        padding: var(--padding-sm);
        width: 100vw;
        height: 33vh;
    }

    main section .right .filters .filter input::-webkit-slider-thumb {
        height: 10px;
        width: 10px;
        margin-top: -4.2px;
    }

    main section .right .filters .filter input::-webkit-slider-runnable-track {
        height: 2px;
        width: 1px;
    }

    main section .left {
        margin-top: 0;
        width: 100vw;
    }

    .main section .left .Upside {
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        gap: var(--gutter-sm);
    }

    .btn0 {
        content: 'choose';
    }

    .btn0,
    #Reset-btn,
    #Download-btn,
    #cut {
        font-size: 10px;
        padding: var(--padding-sm);
    }

    #cut svg {
        height: 10px;
        width: 10px;
    }
}